In [4]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
import pandas as pd

In [6]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2014_FIFA_World_Cup')

In [12]:
todas_tablas[25]
todas_tablas[11]
todas_tablas[18]

                                  Colombia     3–0  Greece
0  Armero 5' Gutiérrez 58' Rodríguez 90+3'  Report     NaN

In [15]:
for i in range (11, 67, 7):
	print(i)

11
18
25
32
39
46
53
60

In [16]:
todas_tablas[18].columns

Index(['Spain', '1–5', 'Netherlands'], dtype='object')

In [18]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2014_FIFA_World_Cup')
for i in range (11, 67, 7):
	df = todas_tablas [i]
    df.rename(columns={'Teamvte': 'Team'})
    print(i)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)